@import "../../assets/styles/variables.scss";

.fixed-navigation {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: $primary-dark;
  padding: 8px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.fixed-navigation__nav,
.fixed-navigation__action {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-size: $copy-large;
  color: $white;
  padding-right: 50px;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin-left: auto;
}

.fixed-navigation__nav {
  &-link {
    padding: 10px;
    font-size: $copy-small;
    color: $white;
    cursor: pointer;
  }
  &-link:hover {
    color: $hover;
  }
}

.fixed-navigation__action {
  &-link {
    width: 40px;
    padding: 10px;
  }

  &-link:hover {
    filter: brightness(0) saturate(100%) invert(69%) sepia(6%) saturate(1777%)
      hue-rotate(135deg) brightness(94%) contrast(83%);
    cursor: pointer;
  }
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  .fixed-navigation {
    padding: 8px 10px;
  }
}
