@import "../../assets/styles/variables.scss";

.sign-in-form {
  display: flex;
  flex-direction: column;

  align-items: center;
  row-gap: 20px;

  &__container {
    position: relative;
  }

  &__input {
    border: 1px solid black;
    border-radius: 8px;
    width: 300px;
    height: 54px;
    padding: 12px;
  }

  &__label {
    position: absolute;
    left: 15px;
    bottom: 43px;
    background-color: $white;
    padding: 0 5px;
  }

  &__submit-btn {
    width: 120px;
    height: 50px;
    background-color: $primary-dark;
    color: $white;
    border-radius: $radius-medium;
    cursor: pointer;
    border: none;
  }

  &__submit-btn:hover {
    background-color: $neutral;
  }
}

.error {
  &--label {
    color: red;
  }
  &--input {
    border: 1px solid red;
  }
}
