$primary-dark: #18122b;
$primary-light: #635985;
$neutral: #393053;
$hover: #443c68;
$white: #ffffff;

$radius-large: 72px;
$radius-medium: 32px;
$radius-small: 16px;

$title-large: 4.5rem;
$title-medium: 2rem;

$copy-large: 1.125rem;
$copy-small: 1rem;

$title-font: "Manrope", sans-serif;
$transition: all 0.3s ease-in-out;
