@import "../../assets/styles/variables.scss";

.cart-product {
  &__container {
    width: 600px;
    height: 180px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: 200px;
    grid-column-gap: 20px;
    font-size: $copy-small;
    font-weight: 600;
  }

  &__image {
    height: 180px;
    border-radius: $radius-small;
  }

  &__details {
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-auto-columns: 200px;
  }

  &__price {
    text-align: center;
  }
}

.details {
  &__remove-btn {
    width: 20px;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url("../../assets/images/trash-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__remove-btn:hover {
    filter: opacity(70%);
  }
}
